@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dancing+Script:wght@700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhai 2", cursive;
}

/* Header Section*/

.header {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.welcome {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 background-color: #06083B;
 color: white;
 padding: 8px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-container {
  display: flex;
}

.social {
  font-size: 1.3rem;
  margin: 0 15px;
  color: white;
}

.social:hover {
  color: #e7bb38;
}

.service-center-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
}

.service-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-center h2 {
  color: grey;
}

.service {
  color: #06083B;
}

.center {
  color: red;
}

.phone-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.phone a:hover {
  color: #e7bb38;
}

.telephone {
  font-size: 30px;
  margin-right: 10px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.email-icon {
  font-size: 40px;
  color: red;
}

.gmail {
  margin-left: 10px;
}


/* Navbar Section*/

.navbar {
  display: flex;
  position: sticky;
  top: 0%;
  z-index: 1;
  background-color: white;
  padding: 5px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(204, 201, 201);
  border-top: 1px solid rgb(204, 201, 201);
}

.logo {
  margin-left: 10px;
}

.osamahannan {
  text-decoration: none;
  color: rgb(30, 180, 180);
  font-size: 17px;
  font-family: "Dancing Script", cursive;
  font-family: "Pacifico", cursive;
}

.osamahannan img {
  height: 55px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 5px;
}

.navbar ul li a {
  padding: 5px 12px;
  text-decoration: none;
  color: rgb(138, 138, 138);
  font-size: 18px;
}

.navbar ul li a:hover {
  color: #06083B;
}

/* home */ 

 .home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

/* Welcome Section */

 .welcome-box {
   display: flex;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-image: url(./Assets/cricket.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .bat-ball {
  width: 35vw;
  margin: 0 0 0 3rem;
}

.bat-ball h1 {
  font-size: 2.5rem;
  line-height: 3.3rem;
  color: white;
}

.bat-ball p {
  color: white;
  font-size: 1.1rem;
  margin: 2rem 0 1rem 0;
}

.btn {
  padding: 10px 25px;
  margin-top: 2rem;
  background-color: rgb(43, 128, 238);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

/* Match Result Section */

.parent {
  display: flex;
  width: 100%;
  background-color: rgb(231, 229, 229);
}

 .match-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   margin: 60px 0;
  }

  .match-container h1 {
    color: #06083B;
    font-size: 3rem;
  }

  .result {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .last, .second-last {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 30px 20px;
    padding: 0 1.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .win, .lose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 1.5rem;
  }

  .win:hover, .lose:hover {
    cursor: pointer;
  }

  .win:hover .win-score h2, .lose:hover .lose-score h2 {
    color: #e7bb38;
    transition: 0.5s all ease;
  }

  .win:hover .win-score span {
    color: #06083B;
    transition: 0.5s all ease;
  }

  .lose:hover .lose-score span {
    color: grey;
    transition: 0.5s all ease;
  }

  .win img, .lose img {
    height: 100px;
    margin: 1rem;
  }

  .win-score, .lose-score {
    margin: 1rem;
  }

  .win-score h2, .lose-score h2 {
    color: grey;
    font-size: 30px;
    line-height: 30px;
  }

  .lose-score h2 {
    color: #06083B;
  }

  .win-score span {
    color: grey;
    font-weight: 700;
  }

  .lose-score span {
    color: #06083B;
    font-weight: 700;
  }

/* About Section */

  .about-section {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .about-container {
    display: flex;
    margin: 5rem 0;
  }

.image_section {
  margin-right: 2.5rem;
}

.image_section img {
  height: 100%;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  width: 500px;
  flex-direction: column;
  margin-left: 2.5rem;
}

.about h1 {
  color: #06083B;
  margin-bottom: 1rem;
}

/* Testimonial Section */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./Assets/testimonial_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  color: white;
}

.testimonial h1 {
  font-size: 3rem;
}

.player-content {
  display: flex;
  margin-top: 1rem;
}

.quote {
  font-size: 4rem;
  color: #e7bb38;
  filter: drop-shadow(2px 4px 4px black);
}

.player1, .player2 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 38vw;
  height: 350px;
  background-color: white;
  color: black;
  justify-content: space-around;
  align-items: center;
}

.player1:hover .player-name h3, .player1:hover .player-name span {
  color: #e7bb38;
  transition: 0.3s all ease;
}

.player2:hover .player-name h3, .player2:hover .player-name span {
  color: #e7bb38;
  transition: 0.5s all ease;
}

.player-content p {
  color: grey;
  margin: 0 3rem;
  text-align: center;
}

.player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

.player-name span {
  color: grey;
}

/* Team Logos Section */

.opponent-teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(248, 246, 246);
  height: 1000px;
}

.opponent-teams h1 {
  font-size: 3rem;
  margin: 3rem 0 1.5rem 0;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.column {
  display: flex;
  height: 55vh;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 45vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 1.5rem;
  background-color: white;
  transition: 0.5s all ease;
}

.logos:hover {
  cursor: pointer;
  transform: translateY(-5px);
  border-bottom: 5px solid #06083B;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-section img, .logo-section img {
  height: 150px;
  margin: 2rem 1rem;
}

.logo-section h2, .logo-section h2 {
  margin-bottom: 2rem;
  color: #06083B;
}

/* Footer section */ 

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #06083B;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid white; */
}

.team11 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 25vh;
  /* border: 1px solid white; */
  margin: 0 50px;
}

.team11 img {
  height: 50px;
  /* border: 1px solid white; */
}

.team11 p {
  text-align: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; */
  margin: 0 50px;
  width: 300px;
}

.footer-heading {
  display: flex;
  margin-left: 17px;
}

.cont {
  border-bottom: 3px solid #e7bb38;
}

/* .footer-contact h1 {
  margin-left: 17px;
  border-bottom: 3px solid white;
} */

.footer-icons {
  display: flex;
  align-items: center;
  margin: 5px;
}

.footericon {
  font-size: 22px;
  margin: 10px;
}

.homeicon {
  font-size: 37px;
  margin: 10px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  /* border: 1px solid white; */
  margin: 0 50px;
}

.copyright span {
  margin-bottom: 20px;
}